In [2]:
import pandas as pd
from graphdriver.commons import data, setup
from graphdriver.load import labels

/home/joe/miniconda3/envs/graph/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
others = []
for c in ["kirp"]:
    df, _ = labels._load_cosmic(c)
    df_b, _ = labels._load_bailey(c)
    num_drivers = len(set(df.index.to_list() + df_b.index.to_list()))
    others.append((c.upper(),num_drivers, "--","--", "No"))


all_cancers = setup.cancer_types() 
all_cancers.sort()
cancers = []
for c in all_cancers:
    d = data.Dataset(c).get_data()
    num_drivers = d.labels.drivers_cancer.shape[0]
    num_candidates = d.labels.drivers_others.shape[0] + d.labels.candidates.shape[0]
    num_passengers = d.labels.passengers.shape[0]
    cancers.append((c.upper(),num_drivers, num_candidates, num_passengers, "Yes"))


# cancers.extend(others)

In [6]:

df = pd.DataFrame(cancers, columns=["symbol", "num_drivers", "num_candidates", "num_passengers", "included"])
df = df.set_index("symbol", drop=True)
# df.to_latex("./drivers_per_cancer.tex", escape=False)
df

        num_drivers  num_candidates  num_passengers included
symbol
BLCA             51           10902            2303      Yes
BRCA             45           10867            2390      Yes
CESC             26           10711            2340      Yes
COAD             51           11043            2450      Yes
ESCA             17            8759            1825      Yes
HNSC             49           10419            2160      Yes
LIHC             30            8973            1848      Yes
LUAD             26           11144            2370      Yes
LUSC             30           11136            2379      Yes
PRAD             33            7466            1393      Yes
STAD             24           11231            2397      Yes
THCA             22            3986             787      Yes
UCEC             57           11538            2646      Yes

In [9]:
df.mean()[2]/df.mean()[0]

/tmp/ipykernel_14678/688097394.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()[2]/df.mean()[0]

59.19305856832972